%h2 Edit Blog Post
.h5
    #myBar.progress-bar
-# .progress-container


%p.navbar-text.pull-right
- if user_signed_in?
    %p.identity= "Logged in as " + current_user.email + "."
    %p.navbar-link_up= link_to 'Edit profile', edit_user_registration_path
    %p.navbar-link_in= link_to "Logout", destroy_user_session_path, method: :delete
- else
    %p.navbar-link_up= link_to "Sign up", new_user_registration_path
    %p.navbar-link_in= link_to "Login", new_user_session_path

= form_for @post, :method => :put do |post|
    - if flash[:notice]
        .col-md-offset-2
        #notice.message
            %span= flash[:notice]
        .row
    - if flash[:warning]
        .col-md-offset-2
        #notice.message_warning
            %span= flash[:warning]
        .row
    
    -# %p.curr_img= post.image.variant(resize: "500x500^") 

    = post.label :title, 'Title'
    = post.text_field :title
    .row
    = post.label :category, 'Meal Time'
    = post.select :category, ['Breakfast', 'Lunch', 'Dinner'], prompt: 'Select One'
    .row
    = post.label :location, 'Location'
    = post.select :location, ['Frank', 'Coop', 'Library Cafe'], prompt: 'Select One'
    .row
    = post.label :description, 'How was it?'
    = post.text_field :description
    .row
    = post.label :rating, 'Rating'
    = post.number_field :rating, in: 0..5, step: 1
    .row
    =post.label :image, "Image"
    =post.file_field :image, accept: "image/png,image/gif,image/jpeg"
    .row
    %br
    = post.submit "Update Blog Post"
    .row
    .row
    = link_to "Back To All Blog Posts", blog_posts_path()
