-# %script{:src => "https://code.jquery.com/jquery-3.4.0.min.js", :type => "text/javascript"}
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}

#main.container
  %div.linkbox
    %p.moodle= link_to "Moodle", "https://moodle.colgate.edu/login/index.php", target: :_blank
    %p.portal= link_to "Portal", "https://portal.colgate.edu/uPortal/f/welcome/normal/render.uP", target: :_blank
    %p.library= link_to "Library", "https://cul.colgate.edu/", target: :_blank
    %p.news= link_to "News", "https://news.colgate.edu/", target: :_blank

  .h5
    .progress-container
      #myBar.progress-bar
  -# %script{:src => "CURTISSEFRANKDININGHALLFOODBLOG/app/assets/javascripts/blog_posts.js"}
  - if flash[:notice]
    .col-md-offset-2
    #notice.message
      %span= flash[:notice]
    .row

  - if flash[:warning]
    .col-md-offset-2
    #notice.message_warning
      %span= flash[:warning]
    .row

  %h1.header The Colgate Food Blog

  %button.new{:id => "newbutton"}= link_to "New Post", new_blog_post_path()
  -# %p.new= link_to "Create A New Blog Post", new_blog_post_path()

  %p.scrollToTop{:href => "#"}
    %i.fa.fa-angle-up
    Back to top

  %p.navbar-text.pull-right
    - if user_signed_in?
      %p.identity= "Logged in as " + current_user.email + "."
      %p.navbar-link_up= link_to 'Edit profile', edit_user_registration_path
      %p.navbar-link_in= link_to "Logout", destroy_user_session_path, method: :delete
    - else
      %p.navbar-link_up= link_to "Sign up", new_user_registration_path
      %p.navbar-link_in= link_to "Login", new_user_session_path



  .row
  %p.filter
    =form_for :filters, :method => :get do |p|
      %div.filterout
        =p.label :location, "Location", :class => 'loc'
        =p.select :location, ['Frank', 'Coop', 'Library Cafe'], prompt: 'Select One', :class => 'loc2'
        -# %br
        =p.label :category, "Meal Time", class: 'cat'
        =p.select :category, ['Breakfast', 'Lunch', 'Dinner'], prompt: 'Select One', class: 'cat2'
        -# %br
        =submit_tag "Refine the list of blog posts", :class => 'submit_filter'
        %td.row=link_to 'Clear filters', session.clear, :class => 'clear_filter'
    .row

  %table.table
    %thead
      %tr
        %th
        -# %th Title
        -# %th Category
        -# %th Location
        -# %th Description
        -# %th Rating
    %tbody
      -@posts.each do |post|
        %p.post
          %p.image= link_to image_tag(post.image.attached? ? post.image.variant(resize: "400x400^") : 'noimg.png'), blog_post_path(post)
          .title= "#{post.title}"
          .category= "#{post.category}"
          .location= "#{post.location}"
          .cat_loc= "#{post.category} @ #{post.location}"
          .description= "#{truncate(post.description, length: 30)}"
          .rating= "#{post.rating}" + "/5 Stars"

    
