#main.container
    .h5
        -# .progress-container
        #myBar.progress-bar
    %h1.header{:id => "headertitle"}= "The Colgate Food Blog"


    %p.scrollToTop{:href => "#"}
        %i.fa.fa-angle-up
        Back to top

    %p.navbar-text.pull-right
    - if user_signed_in?
        %p.identity= "Logged in as " + current_user.email + "."
        %p.navbar-link_up= link_to 'Edit profile', edit_user_registration_path
        %p.navbar-link_in= link_to "Logout", destroy_user_session_path, method: :delete
    - else
        %p.navbar-link_up= link_to "Sign up", new_user_registration_path
        %p.navbar-link_in= link_to "Login", new_user_session_path


    - if flash[:notice]
        .col-md-offset-2
        #notice.message
            %span= flash[:notice]
        .row
    - if flash[:warning]
        .col-md-offset-2
        #notice.message_warning
            %span= flash[:warning]
        .row


    .row
        .col-md-offset-1
        .col-md-4
            %h3.header.title= "#{@post.title}"
            %h4.header.title= "By #{@user}"
            %p= render_shareable
    
    %p.image_show= image_tag @post.image.attached? ? @post.image.variant(resize: "500x500^") : 'noimg.png'
    %p.title_show= "#{@post.title}"
    %p.location_show= "#{@post.category} at #{@post.location}"
    %p.description_show= "#{@post.description}"
    %p.rating_show= "Rated #{@post.rating}/5 Stars"

    %br
    %br

%br
%br
#comments.row
    %h3 Comments
    %ul
    -@comments.each do |comment|
        =render :partial => comment

.row
    -if user_signed_in?
        =form_with(id: :comment_form, model: Comment.new, url: comments_path(@post), data: { type: :html } ) do |f|
            =f.label :comment
            =f.text_area :comment, :id => "commentbox"
            =f.submit "Add comment", :id => "submitcomment"
    -else
        %p Sign in to post a comment.
%br


    .row
        .col-md-offset-1
        %div.crudlinks
            .editlink= link_to('Edit', edit_blog_post_path(@post))
            .deletelink= link_to('Delete', blog_post_path(@post), :method => :delete)
            .backlink= link_to('Back', blog_posts_path)
