#main.container
    %h1.header The Colgate Food Blog


    .row
        .col-md-offset-1
        .col-md-4
            %h3.header.title= "#{@post.title}"
            %h4.header.title= "By #{@user}"
        .col-md-4.location= "#{@post.category} at #{@post.location}"
        .col-md-offset-1
            %td.image= image_tag @post.image.attached? ? @post.image.variant(resize: "500x500^") : 'noimg.png'

    .row
        .col-md-offset-2
        .col-md-8.description= "#{@post.description}"

    .row
        .col-md-offset-2
        .col-md-4.rating= "Rated #{@post.rating}/5 Stars"

    %br
    %br

    .row
        .col-md-offset-1
        .col-md-2= link_to('Edit post details', edit_blog_post_path(@post))
        .col-md-2= link_to('Delete post', blog_post_path(@post), :method => :delete)
        .col-md-2= link_to('Back to blog home', blog_posts_path)
