#main.container
    %h1.header The Colgate Food Blog

    %p.navbar-text.pull-right
    - if user_signed_in?
        %p.identity= "Logged in as " + current_user.email + "."
        %p.navbar-link_up= link_to 'Edit profile', edit_user_registration_path
        %p.navbar-link_in= link_to "Logout", destroy_user_session_path, method: :delete
    - else
        %p.navbar-link_up= link_to "Sign up", new_user_registration_path
        %p.navbar-link_in= link_to "Login", new_user_session_path


    - if flash[:notice]
        .col-md-offset-2
        #notice.message= flash[:notice]
        .row
    - if flash[:warning]
        .col-md-offset-2
        #notice.message= flash[:warning]
        .row


    .row
        .col-md-offset-1
        .col-md-4
            %h3.header.title= "#{@post.title}"
            %h4.header.title= "By #{@user}"
            %p= render_shareable
        .col-md-4.location= "#{@post.category} at #{@post.location}"
        .col-md-offset-1
            %td.image= image_tag @post.image.attached? ? @post.image.variant(resize: "500x500^") : 'noimg.png'

    .row
        .col-md-offset-2
        .col-md-8.description= "#{@post.description}"

    .row
        .col-md-offset-2
        .col-md-4.rating= "Rated #{@post.rating}/5 Stars"

    %br
    %br

%br
%br
#comments.row
    %h3 Comments
    %ul
    -@comments.each do |comment|
        =render :partial => comment

.row
    -if user_signed_in?
        =form_with(id: :comment_form, model: Comment.new, url: comments_path(@post), data: { type: :html } ) do |f|
            =f.label :comment
            =f.text_area :comment, :id => "commentbox"
            =f.submit "Add comment"
    -else
        %p Sign in to post a comment.
%br


    .row
        .col-md-offset-1
        .col-md-2= link_to('Edit post details', edit_blog_post_path(@post))
        .col-md-2= link_to('Delete post', blog_post_path(@post), :method => :delete)
        .col-md-2= link_to('Back to blog home', blog_posts_path)
